<div class="row" ng-init="getRequests(25)">
    <span class="pull-left" style="font-size: 30px; margin-top: 20px">{{ buckets[bucketId].name }}</span><span class="pull-right" style="font-size: 30px; margin-top: 20px"><strong>ID: </strong>{{ bucketId}}</span>
</div>
<div class="row">
    <hr>
</div>
<div class="row">
    
    <div class="btn-group btn-group-lg pull-left" role="group" aria-label="..." >
      <button type="button" class="btn btn-primary btn-lg " ng-click="getRequests(25)">
        <span class="fa fa-refresh"></span>
      </button>
      <button type="button" class="btn btn-lg btn-default" ng-click="getRequests(5)">5</button>
      <button type="button" class="btn btn-lg btn-default" ng-click="getRequests(50)">50</button>
      <button type="button" class="btn btn-lg btn-default" ng-click="getRequests(75)">75</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Generate endpoint URL for <strong>{{ bucketId }}</strong></h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="urlInput">Enter DSP endpoint</label>
                <input ng-model="urlInput" class="form-control" ng-change="generateUrl()" id="urlInput" placeholder="Enter the name of your bucket here (i.e. 'PMP Test')">
                  <span id="helpBlock" class="help-block">BidLogger will make a request to the DSP endpoint you enter above whenever a request is sent to the bucket. The DSP's response will be recorded and sent back as a response.</span>
              </div>
              <div class="form-group">
                <label for="urlOutput">Here is your bucket endpoint</label>
                  <input ng-model="urlOutput" class="form-control" value="{{ urlOutput }}" id="urlOutput" placeholder="Your endpoint will appear here" readonly></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


        <div class="btn-group btn-group-lg pull-right" role="group" aria-label="..." >
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
          Generate bucket endpoint
        </button>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editModal">
          Edit bucket
        </button>
    </div>

</div>

    


    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit bucket details for <strong>{{ bucketId }}</strong></h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="nameInput">Change bucket name</label>
                <input ng-model="nameInput" value="{{ buckets[bucketId].name }}" class="form-control" id="nameInput" placeholder="Enter the name of your bucket here (i.e. 'PMP Test')">
              </div>
              <div class="form-group">
                <label for="urlOutput">Change bucket description</label>
                  <input ng-model="descInput" class="form-control" value="{{ buckets[bucketId].desc }}" id="descInput"></input>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editBucket()">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <hr>
    <div style="overflow-y: scroll">
        <div id="wrapper" style="text-align: center" ng-show="requests.length == 0">    
            <div id="yourdiv" style="display: inline-block"><span style="font-size: 30px; color: gray">No recorded requests!</span></div>
        </div>
        <div class="panel panel-default" ng-repeat="request in requests">
                        <div class="panel-heading">
                            <span class="label label-info">{{ request.gatewayResponseCode }}</span> <strong>&nbsp;&nbsp; POST</strong>   {{ request.gatewayRequestUrl }}       {{ Date(request.gatewayTimestamp) }}
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Response/Request
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Response</a>
                                        </li>
                                        <li><a href="#">Request</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <form>
              <div class="form-group">
                <label for="requestBody">Request Body</label>
                <input value="{{ request.gatewayBody}}" class="form-control" id="requestBody" readonly>
              </div>
              <div class="form-group">
                <label for="responseBody">Response Body</label>
                  <input value="{{ request.gatewayResponseBody }}" class="form-control" id="responseBody" placeholder="Empty response body" readonly></input>
              </div>
            </form>
                        </div>
                        <!-- /.panel-body -->
                </div>
                    </div>
</div>